/* App-specific styles can be added here if needed */

.octocat {
  background-image: url('/octocat.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 85%;
  height: 85%;
}